#Quartz
quartz.enabled=false
quartz.factory=org.springframework.scheduling.quartz.SchedulerFactoryBean
quartz.delegateClass=org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
quartz.jobStoreClass=org.quartz.impl.jdbcjobstore.JobStoreTX
quartz.threadPoolClass=org.quartz.simpl.SimpleThreadPool
quartz.threadCount=20
quartz.tablePrefix=task.QRTZ_
quartz.useProperties=false
quartz.maxConnections=10