.input-label-control-group {
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.input-label-control-group label,
.input-label-control-group .control-label {
	padding-left: 0;
	padding-right: 5px;
	float: left;
	text-align: left;
	width: 30%;
}
.input-label-control-group .control-label.required:after {
	color: red;
}
.input-label-control-group input,
.input-label-control-group select,
.input-label-control-group .form-control {
	margin: 0;
	float: left;
	min-width: 50%;
	width: 70%;
}
.input-label-control-group input[type="checkbox"].form-control {
	min-width: initial;
}
.input-label-control-group > .input-group > .input-group-btn .btn {
	margin-top: 0;
}
.input-label-control-group > .input-group > .form-control {
	width: 100%;
}
.select2 .ui-select-dropdown.select2-with-searchbox .select2-search input {
	width: 100% !important;
	padding: 3px;
}